pre { font-size: 90%;  background: #efefef; }
code { background: #efefef; }

.slide-content {
	width: 900px;
	height: 800px;
}

.nancy-home-page {
  background: url('nancyfx-home.png');
  background-size: cover;
  color: #eee;
}

.diagnostics-page {
  background: url('diagnostics.png');
  background-size: cover;
  color: #eee;
}
